
*.vsidx
*.vsidx
*.cache
*.cache
.vs/WpfApp1/v17/.suo
.vs/WpfApp1/v17/.suo
.vs/WpfApp1/v17/.suo
*.exe
*.pdb
*.baml
WpfApp1/obj/Debug/MainWindow.g.i.cs
WpfApp1/obj/Debug/MainWindow.g.cs
*.cache
.vs/WpfApp1/v17/.suo
WpfApp1/obj/Debug/MainWindow.g.i.cs
*.cache
*.exe
*.pdb
*.baml
WpfApp1/obj/Debug/MainWindow.g.cs
WpfApp1/obj/Debug/MainWindow.g.i.cs
*.cache
*.txt
*.cache
*.exe
*.resources
*.pdb
/WpfApp1/MainWindow.xaml
*.dll
*.xml
*.exe
*.pdb
*.CopyComplete
WpfApp1/obj/Debug/travel_details.g.i.cs
WpfApp1/obj/Debug/travel_details.g.cs
*.cache
*.pdb
*.exe
*.exe
.vs/WpfApp1/v17/.suo
*.exe
WpfApp1/obj/Debug/Page1.g.cs
WpfApp1/obj/Debug/App.g.cs
*.lref
*.config
