
*.vsidx
*.vsidx
*.cache
*.cache
.vs/WpfApp1/v17/.suo
.vs/WpfApp1/v17/.suo
.vs/WpfApp1/v17/.suo
*.exe
*.pdb
*.baml
WpfApp1/obj/Debug/MainWindow.g.i.cs
WpfApp1/obj/Debug/MainWindow.g.cs
*.cache
.vs/WpfApp1/v17/.suo
WpfApp1/obj/Debug/MainWindow.g.i.cs
*.cache
*.exe
*.pdb
*.baml
WpfApp1/obj/Debug/MainWindow.g.cs
WpfApp1/obj/Debug/MainWindow.g.i.cs
*.cache
*.txt
*.cache
*.exe
*.resources
*.pdb
/WpfApp1/MainWindow.xaml
*.dll
*.xml
*.exe
*.pdb
*.CopyComplete
WpfApp1/obj/Debug/travel_details.g.i.cs
WpfApp1/obj/Debug/travel_details.g.cs
*.cache
*.pdb
*.exe
*.exe
.vs/WpfApp1/v17/.suo
*.exe
WpfApp1/obj/Debug/Page1.g.cs
WpfApp1/obj/Debug/App.g.cs
*.lref
*.config
*.force
WpfApp1/obj/Debug/Register.g.cs
WpfApp1/obj/Debug/Register.g.i.cs
*.csproj
WpfApp1/obj/Debug/TravelDetails.g.cs
WpfApp1/obj/Debug/MainMenu.g.cs
*.sln
.vs/WpfApp1/v17/.suo
.vs/ARS/v17/.suo
WpfApp1/obj/Debug/Pages/MainMenu.g.i.cs
WpfApp1/obj/Debug/Pages/MainWindow.g.i.cs
WpfApp1/obj/Debug/Pages/Register.g.i.cs
WpfApp1/obj/Debug/Pages/TravelDetails.g.i.cs
*.editorconfig
*.json
*.props
*.targets
UnitTest/obj/Debug/net8.0/UnitTest.GlobalUsings.g.cs
UnitTest/obj/Debug/net8.0/UnitTest.AssemblyInfo.cs
UnitTest/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
UnitTest/GlobalUsings.cs
*.manifest
*.testlog
*.tmp
*.BuildWithSkipAnalyzers
WpfApp1/obj/Debug/Pages/MainMenu.g.cs
WpfApp1/obj/Debug/Pages/MainWindow.g.cs
WpfApp1/obj/Debug/Pages/Register.g.cs
WpfApp1/obj/Debug/Pages/TravelDetails.g.cs
*.v2
*.bin
AirlineDB/bin/Debug/AirlineDB.dacpac
AirlineDB/obj/Debug/WPFAPP1.generated.sql
